  * {
      background: linear-gradient( to bottom, rgb(63, 177, 53), rgba(63, 177, 53, 0.5));
      text-align: justify;
      font-size: 1.15em;
      font-family: sans-serif;
  }
  
  .title {
      color: #ba8509;
      background-color: black;
  }
  
  p {
      color: wheat;
  }
  
  .subtitle {
      color: #ba8509;
  }
  /* #google-link:link {color: blueviolet;} */
  /* #google-link:visited {color: chocolate;} */
  
  h2:hover {
      color: green;
  }
  
  textarea~button {
      color: purple;
  }
  
  ul {
      font-weight: 800;
  }
  
  ul>li:hover {
      color: aqua;
  }
  
  img[src^="./img/"] {
      border: 10px solid black;
  }
  
  h2[class~=article-subtitle] {
      background: yellow;
  }
  
  .boxzasliku {
      height: 400px;
      width: 70vw;
      background: radial-gradient( circle, red 20%, blue 40%, green 80%);
  }
  
  .googlelinks {
      text-decoration: none;
  }
  
  .italic {
      font-style: inherit;
  }